Before delving into the analysis of our dataset, let's begin by performing sentiment analysis on the 'textTranslated' column. By extracting sentiment information from the customer feedback, we can leverage these results to enhance our overall analysis.
Unfortunately, the "textTranslated" column is in French, which poses a challenge for conducting sentiment analysis.

## Translating the text

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/all_cities_cleaned.csv')

The initial step I will take is to translate the contents of the "textTranslated" column into English.

In [3]:
from utils import translate

Using region  server backend.

In [4]:
# Translate the 'textTranslated' column
translated_text = translate(df["textTranslated"])

# Assign the translated text back to the 'textTranslated' column
df["textTranslated"] = translated_text

I experienced a significant delay of 4 hours while waiting for this code to execute.

In [5]:
df.head()

,bank,categoryName,city,totalScore,rank,cid,publishedAtDate,reviewsCount,reviewsDistribution,textTranslated,reviewId,reviewerId,reviewerNumberOfReviews,stars,lat,lng
0,Attijariwafa Bank,Banque,Agadir,1.8,119,1.589799e+19,2023-02-24,5,"{'oneStar': 4, 'twoStar': 0, 'threeStar': 0, '...","Outstanding service, especially if you ask for...",ChdDSUhNMG9nS0VJQ0FnSUNodDhhd3pRRRAB,1.052275e+20,1.0,1.0,30.41016,-9.559908
1,Attijariwafa Bank,Banque,Agadir,1.8,119,1.589799e+19,2023-02-21,5,"{'oneStar': 4, 'twoStar': 0, 'threeStar': 0, '...","Deplorable service, every time I come to this ...",ChZDSUhNMG9nS0VJQ0FnSUNoazVqWmVREAE,1.023462e+20,1.0,1.0,30.41016,-9.559908
2,Attijariwafa Bank,Banque,Agadir,1.8,119,1.589799e+19,2023-01-06,5,"{'oneStar': 4, 'twoStar': 0, 'threeStar': 0, '...",Very good service by the director who helped m...,ChZDSUhNMG9nS0VJQ0FnSUNCcDdPeUdnEAE,1.110533e+20,2.0,5.0,30.41016,-9.559908
3,Attijariwafa Bank,Banque,Agadir,1.8,119,1.589799e+19,2020-11-13,5,"{'oneStar': 4, 'twoStar': 0, 'threeStar': 0, '...",Zero is bad telephone service,ChZDSUhNMG9nS0VJQ0FnSUNpdzdhWk1REAE,1.031901e+20,1.0,1.0,30.41016,-9.559908
4,Attijariwafa Bank,Banque,Agadir,1.8,119,1.589799e+19,2020-10-05,5,"{'oneStar': 4, 'twoStar': 0, 'threeStar': 0, '...",Zero service,ChdDSUhNMG9nS0VJQ0FnSURDbGMtcDZnRRAB,1.016100e+20,45.0,1.0,30.41016,-9.559908

In [6]:
# Save the dataframe to a csv file
df.to_csv('../data/all_cities_cleaned_english.csv', index=False)